<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <div>
      <a href="/">Logo</a>
    </div>
    <div>
      <a href="/auth/login" id="login-button" class="login-button">Login </a>



      <a href="/auth/signup">Signup</a>
    </div>
  </nav>

  <div class="hidden login-box">
    <form action="/auth/login" method="POST" id="form-container">
      <button class="close-login"> X </button>

      <div class="login-fields">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="JonSnow">

      

        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Your password">
        
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}
      </div>
      
      <div class="logins-buttons">
      <button>Login</button>
      
      <a href="http://www.google.com/"><button> Login with google</button></a>
      </div>
  </div>

  {{{body}}}

  
  <script src='/javascripts/sortable.min.js'></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>