.hidden {
  display: none !important; }

* {
  box-sizing: border-box; }

body {
  margin-top: 6rem; }

html {
  font-size: 10px; }

body {
  font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif; }

nav {
  height: 5rem;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  left: 0;
  width: 100%;
  /* Full width */
  z-index: 1000; }

nav a {
  text-decoration: none; }

nav div {
  margin: 0 1rem; }
  nav div a {
    margin: 0 1rem; }

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  position: absolute;
  width: 25rem;
  right: 1.7rem;
  top: 5rem; }
  .login-box .close-login {
    position: fixed;
    top: 5rem;
    right: 1.5rem; }
  .login-box .login-fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: saddlebrown;
    margin: 0.3rem 0.5rem; }
    .login-box .login-fields label {
      margin: 0.2rem 0.5rem; }
    .login-box .login-fields input {
      margin: 0.3 rem 0; }

.logins-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem 0; }

.all-stacks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

.one-stack {
  /* height: 35rem; */
  width: 35rem;
  background-color: blanchedalmond;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }

.mid-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: crimson; }

.category-logo {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0rem 1rem; }

.source-logo {
  height: 2rem;
  width: 2rem;
  margin: 0rem 1rem; }

.time-logo {
  height: 2rem;
  width: 2rem;
  margin: 0rem 1rem; }

.top-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.image-preview-display {
  background-color: blue;
  width: 35rem;
  height: 15rem;
  background-image: url("/images/city.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }
  .image-preview-display img {
    object-fit: cover;
    width: inherit;
    height: inherit; }

.bottom-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: 0.1rem 0.4rem;
  position: relative;
  bottom: 0rem; }

.description-preview-display {
  margin: 0rem 0.8rem;
  padding: 0.5rem; }

.sources-preview-display {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.time-preview-display {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.likes-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.7rem; }

.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.ghost {
  opacity: .1;
  background: #3d5863; }

.main-wrapper {
  width: 100%;
  justify-content: space-around;
  display: flex; }
  .main-wrapper input, .main-wrapper select, .main-wrapper button {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2rem; }
  .main-wrapper p {
    margin: 1rem 0;
    font-size: 2rem; }

.creation {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: left; }
  .creation .stack-controllers {
    background-color: rgba(61, 88, 99, 0.1); }
  .creation .stack-mainInfo {
    background-color: rgba(61, 88, 99, 0.15); }
  .creation .step-creation {
    background-color: rgba(61, 88, 99, 0.3); }

.new-preview {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: left; }
  .new-preview .new-stack-step {
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgba(61, 88, 99, 0.1); }
  .new-preview .new-stack-step:hover {
    cursor: all-scroll; }

/*# sourceMappingURL=style.css.map */